.tabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #269BF0;
    border-bottom: 3px solid #269BF0;
}

.tabContent
{
    display:none;
}

.tabContent .subTabContent
{
    display:none;
}

.tabContent .subTabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabContent .subTabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    color: #269BF0;
    background-color: transparent;
    border-bottom: 3px solid #269BF0;
}

