
body
{
    height: auto;
    padding-top: 100px;
    min-height: 100%;
    position: relative;
    padding-bottom: 255px;
    font-family: 'Open Sans';
}

input[type=submit]
{
    margin: 0;
    padding: 0 30px 0 30px;

    height: 45px;
    line-height: 45px;

    border-radius: 3px;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    background-color: #269BF0;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;

    cursor: pointer;

    font-family: 'ProximaNova', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

input[type=submit]:hover
{
    background-color: #00B1FF;
}

.tabButtons
{
    padding: 10px;
}

.tabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #269BF0;
    border-bottom: 3px solid #269BF0;
}

.mapContainer .tabContent
{
    display:none;

}
.mapContainer .tabContent .table
{
    float: right;
    padding: 10px;
}

.mapContainer .tabContent .table table
{
    background: rgb(237,245,252);
}

.mapContainer .tabContent .subTabContent
{
    display:none;
    margin-left: 120px;
}

.mapContainer .tabContent .subTabButtons
{
    padding-top: 10px;
    width: 100px;
    float: left;
}

.mapContainer .tabContent .subTabButtons button
{
    padding: 10px;
    display: list-item;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.mapContainer .tabContent .subTabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    color: #269BF0;
    background-color: transparent;
    border-bottom: 3px solid #269BF0;
}

.mainContainer
{
    background: rgb(245,249,252);
}
.wrapper
{
    max-width: 940px;
    width: 100%;
    margin: 1px auto -1px auto;
}