[data-tab-content]
{
    display:none
}

.active[data-tab-content]
{
    display: block;
}

body{
    padding: 0;
    margin: 0;
}

.tabs{
    display: flex;
    list-style-type: none;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.tab{
    
    cursor: pointer;
    padding:10px;
}

.tab.active{
    border-bottom: 3px solid cyan;
}

.tab:hover{
    border-bottom: grey;
}

.tabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgrey;
}

.tabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}

.tabContent
{
    display:none;
}

.tabContent .subTabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}

.tabContent .subTabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}


.tabContent .subTabContent
{
    display:none;
}