.tabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgrey;
}

.tabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}

.tabContent
{
    display:none;
}

.tabContent .subTabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}

.tabContent .subTabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: darkgray;
}


.tabContent .subTabContent
{
    display:none;
}