body
{
    height: auto;
    padding-top: 100px;
    min-height: 100%;
    position: relative;
    padding-bottom: 255px;
    font-family: 'Open Sans';
}

input[type=submit]
{
    margin: 0;
    margin-left: 2%;
    padding: 0 30px 0 30px;

    height: 45px;
    line-height: 45px;

    border-radius: 3px;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    background-color: #269BF0;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;

    cursor: pointer;

    font-family: 'ProximaNova', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

input[type=button]:hover
{
    background-color: #00B1FF;
}

.tabButtons
{
    padding: 10px;
}

.tabButtons button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #269BF0;
    border-bottom: 3px solid #269BF0;
}

.tabButtons ul
{
    padding: 0px;
}

.tabButtons ul li
{
    padding: 0px;
    display: inline;
    margin-right: 20px;
    text-underline-style: none;
}

.tabButtons a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabButtons a:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #269BF0;
    border-bottom: 3px solid #269BF0;
}

.mapContainer .tabContent
{
    display:none;
}
.mapContainer .tabContent .table
{
    float: right;
    padding: 10px;
}

.mapContainer .tabContent .table table
{
    background: rgb(237,245,252);
}

.mapContainer .tabContent .subTabContent
{
    display:none;
}

.mapContainer .tabContent .subTabButtons
{
    padding-top: 10px;
    width: 100px;
    float: left;
}

.floorImage
 {
     display: -webkit-box;
 }

.floorImage canvas
{
    cursor:pointer;
}

.mapContainer .tabContent .subTabButtons button
{
    padding: 10px;
    display: list-item;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.mapContainer .tabContent .subTabButtons button:hover
{
    cursor: pointer;
    border: none;
    outline: none;
    color: #269BF0;
    background-color: transparent;
    border-bottom: 3px solid #269BF0;
}

.mainContainer
{
    background: rgb(245,249,252);
    width: auto;
    min-width: 1050px;
}

.mainContainer input[type=text]
{
    width: 80%;
    height: 38px;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
}

.mainContainer label
{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    color: #36414D;
    margin-bottom: 10px;
}

.wrapper
{
    max-width: 940px;
    width: 100%;
    margin: 1px auto -1px auto;
}

.tableContents
{
    width: 285px;
    padding-left: 20px;
    max-height: 430px;
    overflow: scroll;
}

.tableContents th
{
    padding-right: 30px;
    padding: 10px;
    width: 50%;
    background-color: #edf5fc;
    text-align: left;
}

.tableContents td
{
    background-color: #fcfdfe;
    width: 50%;
    text-align: left;
    padding-right: 30px;
    padding: 10px;
}

.marked
{
    color: #269BF0;
}